<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>

    {% block title%}{% endblock %}
    {% block script%}{% endblock %}
</head>

<body>
    <nav>
        <div class="center-me">
            <a href="/home">
                <h1>Notes</h1>
            </a>
        </div>
        <div style="float:right">
            <form align="right" name="logout" method="post"
                  action="{{ url_for('logout_user') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <label class="logoutLblPos">
                    <input name="submit2" type="submit" id="submit2" value="log out">
                </label>
            </form>
        </div>
    </nav>
    <div class="row" id="row">
        <div class="sidebar">
            {% block side %}
            {% endblock %}
        </div>
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
    </div>

</body>

</html>
