<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    {% block title%}{% endblock %}
    {% block script%}{% endblock %}
</head>

<body class="">
<main>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark"
         aria-label="Site navbar">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    NotesCoC
                </a>
            </div>

            <div>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-search"
                        aria-controls="navbarsExample04" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse justify-content-end mt-2 mt-sm-0"
                 id="collapse-search">
                <form class="d-flex" action="{{ url_for('home') }}"
                      method="post"
                      role="search">
                    <input type="hidden" name="csrf_token"
                           value="{{ csrf_token }}">
                    <input class="form-control mx-1" type="search" name="search"
                           placeholder="Search" aria-label="Search"
                           value="{{ search }}">
                    <button class="btn btn-outline-success px-3" type="submit"
                            aria-controls="navbarSearchButton"
                            aria-label="Search for note">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <nav class="container-fluid navbar-dark bg-dark d-sm-flex">

        <ul class="navbar-nav list-group-horizontal-sm">
            {% if admin %}
            <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page"
                   href="{{ url_for('edit_note') }}">New note</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link dropdown-toggle" href="#"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">Visibility</a>
                <ul class="nav-item dropdown dropdown-menu">
                    <li>
                        <a class="dropdown-item active" id="visibility-all"
                           onclick="setVisibilityCookie('all')" href="#">
                            All
                        </a>
                    </li>
                    {% for person in persons %}
                    <li>
                        <a class="dropdown-item"
                           aria-current="true"
                           id="visibility-{{person.name}}"
                           onclick="setVisibilityCookie('{{person.name}}')"
                           href="#">
                            {{person.name}}
                        </a>
                    </li>
                    <script>
                        (function() {
                        let cookie_visible = getCookie('visibility_selection');
                        if (cookie_visible == '{{person.name}}') {
                            document.getElementById('visibility-{{person.name}}').classList.add('active');
                            document.getElementById('visibility-all').classList.remove('active');
                        }
                        })();


                    </script>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            <li class="nav-item mx-2">
                <a class="nav-link" href="{{ url_for('subjects') }}">
                    Tematy
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="{{ url_for('subject_categories') }}">
                    Kategorie
                </a>
            </li>
            {% block navigation %}
            {% endblock %}
        </ul>

        <form class="navbar-nav ms-auto mb-2 d-inline-flex" name="logout"
              method="post"
              action="{{ url_for('logout_user') }}">
            <input type="hidden" name="csrf_token"
                   value="{{ csrf_token }}">
            <input class="btn btn-danger"
                   name="submit_logout" type="submit"
                   id="submit_logout"
                   value="Log out">
        </form>
    </nav>

    <div class="container mt-4">
        {% block main %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    </div>

</main>
</body>
</html>
