{% extends "base.html" %}
{% block title%}<title>Notes | Subjects</title>{% endblock %}

{% block main %}
<div class="row justify-content-center justify-content-sm-start">
    {% for category in resource['list'] %}
    <div class="mb-3 col-11 col-sm-6 col-md-4 col-xl-3">
        <div class="card">
            <div class="card-header">
                {{ category['name'] }}
                {% if category['subjects']|length > 3 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                    {{ category['subjects']|length }}
                </span>
                {% endif %}
            </div>
            <ul class="note-group list-group">
                {% for subject in category['subjects'] %}
                <a class="list-group-item" href="#">
                    {{ subject['name'] }}
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}