{% extends "base.html" %}
{% block title%}<title>Notes | Home</title>{% endblock %}
{% block side %}
<h1>My Notebooks:</h1>
<a href="{{ url_for('new_note') }}" class="buttonlike">+ Create a new note</a>
{% endblock %}
{% block main %}
{% for note in notes %}
<p id="title {{note.id}}" class="title-field">{{note.title}}
    <a href="{{ url_for('edit_note', note_id=note.id) }}" class="option">Edit
    </a>
    <a href="{{ url_for('delete_note', note_id=note.id) }}"
       class="option danger">Delete</a>
</p>
<p id="content {{note.id}}" class="content">{{note.content}}</p>
<br>
{% endfor %}
{% endblock %}