{% extends "base.html" %}

{% block title %}
<title>Notes | Login</title>
{% endblock %}

{% block header %}
Logowanie
{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <div class="col main col-12 col-md-6 col-lg-4">
        <form onsubmit="myLogin(this)"
              action="{{ url_for('login_user', next=next) }}"
              method="post" id="login_form">
            <input class="form-control my-2" type="text"
                   placeholder="Wprowadź login"
                   name="username"
                   autocomplete="username" required>
            <input class="form-control my-2" type="password"
                   placeholder="Wprowadź hasło"
                   name="current-password" id="current-password"
                   autocomplete="current-password" required>
            <input class="btn btn-primary btn-lg" type="submit"
                   value="Zaloguj">
            <div id="react_root"></div>
            <script src="{{ url_for('static',filename='js/login.js') }}"></script>

        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
     <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.renderComponent();
        });
    </script>
{% endblock %}
