<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    <title>Notes | Register</title>
</head>

<body>
    <nav>
        <a href="/home">
            <h1>Notes</h1>
        </a>
    </nav>
    <div class="col main" id="col">
        <h1>Register as {{ person_name }}</h1>
        <form
                action="{{ url_for('register_user',registration_hash=register_hash) }}"
                method="post" id="register_form">
            <input type="text" placeholder="Enter username" name="username" required>
            <input type="password" placeholder="Enter password"
                   name="password" id="password1" required>
            <input type="password" placeholder="Confirm password"
                   name="confirm_password" id="password2" required>
            <input type="submit" value="Register user">
            <script src="{{ url_for('static',filename='js/register.js') }}"></script>
        </form>
    </div>

</body>

</html>