{% extends "base_create.html" %}

{% block form %}
    <h2>Write note</h2>
    <form action="{{ submit_callback }}" method="post" id="noteform">
        <input type="text" placeholder="Enter the Note Name" name="title"
               value="{{ note.title|d('', true) }}">
        <textarea name="content" form="noteform"
                  placeholder="Enter Note Content Here or Create Note"
                  rows="10">{{ note.content|d('', true) }}</textarea>
        {% for person in persons_visibility %}
        <input type="hidden" name="{{ 'vis_previous_' ~ person.name }}"
               value="{{ person.is_note_visible(note.id) }}">
        <label for="{{ 'visibility_' ~ person.name }}" class="pure-checkbox">
            <input id="{{ 'visibility_' ~ person.name }}"
                   type="checkbox"
                   style="float: left; margin-top: 5px;"
                   name="{{ 'visibility_' ~ person.name }}"
                   {% if person.is_note_visible(note.id) is true %}
                   value="1" Checked
                   {% else %}
                   value="1"
                   {% endif %}
            >{{person.name}}
        </label>
        {% endfor %}
        <input type="submit" value="Save Note">
    </form>
{% endblock %}