{% extends "base.html" %}

{% block script %}
<script src="{{ url_for('static',filename='js/select_subject.js') }}"></script>
{% endblock %}

{% block main %}
<h2 class="text-center text-primary">Write note</h2>
<form action="{{ submit_callback }}" method="post" id="noteform">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <div class="mb-3">
        <label for="title-control" class="form-label">Title</label>
        <input type="text" class="form-control" id="title-control" placeholder="Title" name="title"
            value="{{ resource['note']['title']|d('', true) }}">
    </div>

    <div class="mb-3">
        <label for="content-control" class="form-label">Content</label>
        <textarea class="form-control" id="content-control" rows="3"
                  name="content" form="noteform"
        >{{ resource['note']['content']|d('', true)}}</textarea>
    </div>

    {% for person in persons %}
    <input type="hidden" name="{{ 'vis_previous_' ~ person.name }}"
           value="{{ person.is_note_visible(resource['note']['id']) }}">
    <div class="form-check">
        <input type="checkbox" class="form-check-input"
               id="{{ 'visibility_' ~ person.name }}"
               name="{{ 'visibility_' ~ person.name }}"
               {% if person.is_note_visible(resource['note']['id']) is true %}
               value="True" Checked
               {% else %}
               value="True"
               {% endif %}>
        <label class="form-check-label" for="{{ 'visibility_' ~ person.name }}">
            {{person.name}}
        </label>
    </div>
    {% endfor %}

    <div class="mt-2" id="subjects-selection-div">
        <script>
            subjectsGenerator = new FormSubjectSelector({{resource['all_subjects'] | tojson}});
            {% for selected_subject in resource['note']['subjects'] %}
            subjectsGenerator.createSelector('{{ selected_subject['name'] }}', subjectsGenerator.changeSubject);
            {% endfor %}
            subjectsGenerator.createSelector('none', subjectsGenerator.chooseSubject);
        </script>
    </div>


    <button class="btn btn-primary btn-lg" type="submit">
        Save Note
    </button>

</form>
{% endblock %}